<h3 style="text-align: center; margin-top: 18px;">Pare słów o naszym Salonie</h3>

<div class="container">
    <div class="row" style="display: flex; flex-direction: column; line-height: 34px;">
        <div class="col-sm-12" style="text-align: center; margin-bottom: 20px;">
            <span id="TextFromAboutUs">
                Jesteśmy jedynym takim w Polsce salonem samochodowym o tak sportowym charakterze i tradycji.<br>
                Założycielem tego miejsca jest sam Robert Kubica co tylko podkreśla nasze przywiązanie do motoryzacji.<br>
                Posiadamy tutaj auta niemickich gigantów takich jak Mercedes-Benz, Audi, Porshe czy BMW.<br>
                Nie zamykamy się jednak tylko na rynek naszych sąsiadów zza Odry i możesz u nas również kupić auta marki Jaguar.
            </span>
        </div>
        <div class="col-sm-12" style="text-align: center; margin-bottom: 8px;">
            <img src="~/images/AboutUsPhoto.jpg" id="AbousUsPhoto" />
        </div>
    </div>
</div>