<h1 style="margin-top: 29px; margin-bottom: 29px;">Dane kontaktowe </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>Toys for Big Boys<br />ul. Zakopiańska 110 <br />30-398 Kraków </div>
            <hr />
            <div>Czynne: 9:00 - 18:00 </div>
            <hr />
            <div>tel. 000 000 000<br />email: kontakt@toysforbigboys.pl</div>
        </div>
        <div class="col-sm-6" style=" margin-top: -66px;">
            <!DOCTYPE html>
            <html>
            <head>
                <style>
                    /* Set the size of the div element that contains the map */
                    #map {
                        height: 400px; /* The height is 400 pixels */
                        width: 100%; /* The width is the width of the web page */
                    }
                </style>
            </head>
            <body>
                <!--The div element for the map -->
                <div id="map"></div>
                <script>
                // Initialize and add the map
                function initMap() {
                    // The location of Uluru
                    var uluru = { lat: 50.007876, lng: 19.924668};
                    // The map, centered at Uluru
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 13, center: uluru});
                    // The marker, positioned at Uluru
                    var marker = new google.maps.Marker({position: uluru, map: map});
                }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDKduTcWraNx-vKbJbd4No0na_hhepbzk&callback=initMap">
                </script>
            </body>
        </html>
    </div>
</div>
</div>

