body {
    background-color: #ededed;
}

.img-thumbnail {
    width: 350px;
    height: 350px;
    background-color: #00000073;
}

#IndexImg {
    height: 189px;
    width: 340px;
}

#navbarNav {
    /*margin-top: -80px;*/
    /*background-color: black;*/
    /* margin-top: -80px; */
    /*background-color: black;*/
    width: 100%;
    padding-right: 0px;
    /*padding-left: 16px;*/ /*Tyle bylo git*/
    padding-left: 7px;
}
